.menu {
  /* add correct code to place the menu correctly.*/
  display:flex;
   justify-content:space-around;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: rgb(245, 245, 245);
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */

  display:flex;
  
  flex-wrap:wrap;
  justify-content: space-evenly;
  font-family: sans-serif;
}
.languages{
  background-color:rgba(230, 230, 230);
  border-radius:24px;
  margin:20px
}
.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
.origami:hover{ 
    transform: scale(1.2);
}
